obj
bin
*.csproj.user
*ReSharper*
*resharper*
*.suo
*.cache
Thumbs.db
*.bak
*.cache
*.log
*.log.*
log.txt
*.swp
*.user
*.docstates
*.dotCover
_compareTemp
_notes
aspnet_client
httpd.parse.errors
*.docstates
packages
AnalyticsExample/App_Data/Database/**