@{
    ViewBag.Title = "Analytics Example";
	ViewBag.Nav = Navigation.Home;
}

<div class="row">
	<div class="span9 offset1">
		
		<div id="AnalyticsSummaryWidget" class="alert alert-info widget">
			<h4 class="alert-heading">Analytics Summary</h4>
			<div class="content">
				<small>Loading...</small>
			</div>
		</div>
		
	</div>
</div>
