<?xml version="1.0"?>

<configuration>
	<configSections>
		<sectionGroup name="system.web.webPages.razor" type="System.Web.WebPages.Razor.Configuration.RazorWebSectionGroup, System.Web.WebPages.Razor, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
	</configSections>
	<system.web.webPages.razor>
		<pages pageBaseType="System.Web.Mvc.WebViewPage">
			<namespaces>
				<add namespace="AnalyticsExample.ViewModels.Home" />
			</namespaces>
		</pages>
	</system.web.webPages.razor>
	<system.web>
		<pages>
			<namespaces>
				<add namespace="AnalyticsExample.ViewModels.Home" />
			</namespaces>
		</pages>
	</system.web>
</configuration>
