<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AjaxMin" version="4.37.4345.34101" />
  <package id="AutoMapper" version="2.0.0" />
  <package id="Cassette" version="1.0.1" />
  <package id="Cassette.Views" version="1.0.1" />
  <package id="Cassette.Web" version="1.0.1" />
  <package id="Google.GData.Analytics" version="1.9.0.0" />
  <package id="Google.GData.Client" version="1.9.0.0" />
  <package id="Jurassic" version="2.1.1" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" />
  <package id="Newtonsoft.Json" version="4.0.8" />
  <package id="NLog" version="2.0.0.2000" />
  <package id="RavenDB-Embedded" version="1.0.651-Unstable" />
  <package id="WebActivator" version="1.5" />
</packages>